<!--@MasterPageFile(Master/Main.cshtml)-->
<!--@Layout.Title(Blog)-->
<!--@Layout.Description()-->

<section class="blog">
	<header class="hero-unit">
		<h1>
			@GetValue("Item.Title")
			@if (!string.IsNullOrWhiteSpace(GetString("Item.Tagline"))) {
			<small class="tagline">@GetString("Item.Tagline")</small>
			}
		</h1>
	</header>

	<div class="row">
		<section id="main" class="span9">
			<div class="body-content dwcontent" id="content" class="dwcontent" title="Main content"></div>
		</section>

		<aside id="sidebar" class="span3">
			@if (!string.IsNullOrEmpty(GetString("DwNavigation(navposts)"))) {
			<div class="sidebar-nav">
				<h2><!--@Translate(Posts, "Posts")--></h2>
				<ul class="dwnavigation" id="navposts" data-settings="startlevel:2;expandmode=all;template=Blog_Posts.xslt"/>
			</div>
			}

			@if (!string.IsNullOrEmpty(GetString("DwContent(sidebarcontent)"))) {
			<div id="sidebarcontent" class="dwcontent" title="Sidebar content" data-settings="template:sidebar.html"></div>
			}
		</aside>
	</div>
</section>
