@media (min-width: 980px) {
  /* line 4, ../sass/screen.scss */
  body {
    padding-top: 60px;
  }
  /* line 7, ../sass/screen.scss */
  body.has-breadcrumb {
    padding-top: 90px;
  }
  /* line 11, ../sass/screen.scss */
  body .sidebar-nav {
    padding: 9px 0;
  }
}
/* line 2, ../sass/_blog.scss */
.blog > header {
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
/* line 10, ../sass/_blog.scss */
.blog.posts .post {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 1em;
}
/* line 15, ../sass/_blog.scss */
.blog.posts .read-more {
  text-align: right;
}

/* line 22, ../sass/_blog.scss */
.post header {
  overflow: hidden;
  *zoom: 1;
}
/* line 25, ../sass/_blog.scss */
.post header > * {
  vertical-align: top;
}
/* line 29, ../sass/_blog.scss */
.post header .info {
  margin: 1em 0;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  *zoom: 1;
}
/* line 38, ../sass/_blog.scss */
.post header .author-image {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
}
/* line 48, ../sass/_blog.scss */
.post header .comments-info {
  display: block;
}
/* line 51, ../sass/_blog.scss */
.post header .comments-info a {
  white-space: nowrap;
}
/* line 56, ../sass/_blog.scss */
.post header .link {
  float: right;
}

/* line 64, ../sass/_blog.scss */
#comments article blockquote {
  border: none;
  margin: 1em 0 0;
  padding: 0;
}

/* line 73, ../sass/_blog.scss */
.posts article + article {
  margin-top: 2em;
}

/* line 79, ../sass/_blog.scss */
.post .content {
  margin: 1em 0;
}

/* line 2, ../sass/_news.scss */
.news > header {
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
/* line 10, ../sass/_news.scss */
.news.news-items .news-item {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 1em;
}
/* line 15, ../sass/_news.scss */
.news.news-items .read-more {
  text-align: right;
}

/* line 22, ../sass/_news.scss */
.news-item header {
  overflow: hidden;
  *zoom: 1;
}
/* line 25, ../sass/_news.scss */
.news-item header > * {
  vertical-align: top;
}
/* line 29, ../sass/_news.scss */
.news-item header .info {
  margin: 1em 0;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  *zoom: 1;
}
/* line 38, ../sass/_news.scss */
.news-item header .author-image {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
}
/* line 48, ../sass/_news.scss */
.news-item header .comments-info {
  display: block;
}
/* line 51, ../sass/_news.scss */
.news-item header .comments-info a {
  white-space: nowrap;
}
/* line 56, ../sass/_news.scss */
.news-item header .link {
  float: right;
}

/* line 63, ../sass/_news.scss */
.news-items article + article {
  margin-top: 2em;
}

/* line 69, ../sass/_news.scss */
.news-item .content {
  margin: 1em 0;
}
